n8n/backup/workflows/6_Dev_Agent.json
{
  "name": "6 Dev Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-300, 0],
      "id": "dev-0001-trig-0000-000000000001",
      "name": "When Called by Supervisor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are the Dev Agent — the specialist for the Development phase of the software development lifecycle.\n\nYour responsibilities:\n- Convert requirements into code sketches or full implementations\n- Review and improve existing code\n- Debug and fix bugs\n- Explain codebases and architecture\n- Refactor and optimize code\n- Generate documentation, pipelines, and scaffolding\n- Perform security scans and code quality checks\n\nAvailable skills (call load_skill with the skill name to get full instructions):\n- code-from-requirements\n- review-pr\n- review-suggest\n- fix-bug\n- debug-assist\n- refactor\n- explain-codebase\n- code-quality\n- security-scan\n- optimize-performance\n- generate-docs\n- generate-pipeline\n- scaffold\n- generate-tests\n- migrate-code\n- translate-code\n- pair-program\n\nHow to work:\n1. Understand what the user needs (which type of development task?)\n2. Call load_skill with the most relevant skill name to get detailed instructions\n3. Follow those instructions to deliver the output\n4. If the task spans multiple skills, handle them in sequence\n\nAlways respond in the same language the user writes in."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [0, 0],
      "id": "dev-0002-agnt-0000-000000000002",
      "name": "Dev Agent"
    },
    {
      "parameters": {
        "model": "llama3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [-160, 240],
      "id": "dev-0003-llm0-0000-000000000003",
      "name": "Ollama LLM",
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Ollama"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [40, 240],
      "id": "dev-0004-mem0-0000-000000000004",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "load_skill",
        "description": "Load a skill definition from the marketplace. Pass the skill name to get full instructions for that skill (e.g. 'code-from-requirements', 'fix-bug', 'review-pr').",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_AFTER_IMPORT"
        },
        "fields": {
          "values": [
            {
              "name": "query",
              "stringValue": "={{ $fromAI('skill_name', 'The skill name to load from the development phase') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [240, 240],
      "id": "dev-0005-tool-0000-000000000005",
      "name": "load_skill"
    }
  ],
  "connections": {
    "When Called by Supervisor": {
      "main": [
        [{ "node": "Dev Agent", "type": "main", "index": 0 }]
      ]
    },
    "Ollama LLM": {
      "ai_languageModel": [
        [{ "node": "Dev Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [{ "node": "Dev Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "load_skill": {
      "ai_tool": [
        [{ "node": "Dev Agent", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["sdlc", "development"],
  "triggerCount": 0,
  "updatedAt": "2026-02-20T00:00:00.000Z",
  "versionId": "1"
}
