n8n/backup/workflows/6_Elicitation_Agent.json
{
  "name": "6 Elicitation Agent",
  "nodes": [
    {
      "parameters": {
        "public": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-300, 0],
      "id": "c1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6",
      "name": "Chat Trigger",
      "webhookId": "elicitation-agent-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert Requirements Elicitation Agent embedded in an SDLC workflow platform. Your mission is to guide users through a structured conversation to capture complete software requirements, then automatically create a Jira ticket.\n\n## Your Workflow\n\n**STAGE 1 — Feature Discovery**\nGreet the user and ask: \"Tell me about the feature or change you'd like to build. A brief description is fine to start.\"\n\n**STAGE 2 — Structured Clarification**\nAsk exactly these questions, ONE AT A TIME. Wait for the answer before asking the next. Prefix each with the step counter:\n  [1/5] \"Who are the primary users of this feature? What role or persona?\"\n  [2/5] \"What specific problem does this solve? What is the current pain point or gap?\"\n  [3/5] \"What does success look like? Give me 2–3 concrete acceptance criteria.\"\n  [4/5] \"Are there technical, time, budget, or compliance constraints to consider?\"\n  [5/5] \"What priority should this have — Critical, High, Medium, or Low?\"\n\nIf an answer is vague, probe once: \"Can you give me a concrete example?\" or \"What would that look like in practice?\" Then move on.\nIf the user skips a question, record it as 'Not specified' and continue.\n\n**STAGE 3 — Requirements Summary**\nPresent a structured summary in this exact format:\n\n```\nREQUIREMENTS SUMMARY\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFeature:     [title]\nProblem:     [statement]\nUsers:       [stakeholders]\nCriteria:    • [criterion 1]\n             • [criterion 2]\n             • [criterion 3]\nConstraints: [list or 'None identified']\nPriority:    [level]\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n```\n\nThen ask: \"Does this capture your requirements correctly? Shall I create the Jira ticket?\"\n\n**STAGE 4 — Jira Creation**\nWhen the user confirms (says yes, correct, looks good, create it, etc.), immediately call the create_jira_ticket tool. Do NOT ask again — act on the first confirmation.\n\nAfter successful creation respond:\n\"✅ Jira ticket [KEY] created: [URL]\nYour requirements are saved and ready for sprint planning.\"\n\n## Rules\n- ONE question at a time. Never bundle multiple questions in one message.\n- Always match the user's language (respond in German if they write German, English if English).\n- You may call load_skill with skill_name='elicit-requirements' at any point to load additional elicitation guidance.\n- The Jira tool uses environment variables for credentials. If it fails, report the exact error to the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [0, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-111111111111",
      "name": "Elicitation Agent"
    },
    {
      "parameters": {
        "model": "llama3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [-160, 240],
      "id": "b2c3d4e5-f6a7-8901-bcde-222222222222",
      "name": "Ollama LLM",
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Ollama"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [40, 240],
      "id": "c3d4e5f6-a7b8-9012-cdef-333333333333",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "load_skill",
        "description": "Load a SKILL.md definition from the marketplace. Use this to get detailed instructions for a specific skill. Pass the skill name (e.g. 'elicit-requirements', 'generate-user-stories').",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_AFTER_IMPORT"
        },
        "fields": {
          "values": [
            {
              "name": "query",
              "stringValue": "={{ $fromAI('skill_name', 'The skill name to load, e.g. elicit-requirements') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [240, 240],
      "id": "d4e5f6a7-b8c9-0123-defa-444444444444",
      "name": "load_skill"
    },
    {
      "parameters": {
        "name": "create_jira_ticket",
        "description": "Creates a Jira Story with the gathered requirements. Call this once the user has confirmed the requirements summary. Provide a clear title, full description with acceptance criteria, and priority.",
        "jsCode": "const title = $fromAI('title', 'Short descriptive title for the Jira story (max 80 chars)', 'string');\nconst description = $fromAI('description', 'Full requirements description including problem statement, stakeholders, and acceptance criteria', 'string');\nconst priority = $fromAI('priority', 'Jira priority: Highest, High, Medium, Low, or Lowest', 'string');\n\nconst jiraUrl = $env.JIRA_URL || 'http://jira:8080';\nconst username = $env.JIRA_USERNAME;\nconst token = $env.JIRA_PERSONAL_TOKEN;\nconst project = $env.JIRA_PROJECT || 'SDLC';\n\nif (!username || !token) {\n  return {\n    error: 'Jira credentials not configured.',\n    hint: 'Set JIRA_USERNAME and JIRA_PERSONAL_TOKEN in your .env file.'\n  };\n}\n\nconst priorityMap = {\n  'critical': 'Highest',\n  'high': 'High',\n  'medium': 'Medium',\n  'low': 'Low',\n  'lowest': 'Lowest'\n};\nconst normalizedPriority = priorityMap[(priority || 'medium').toLowerCase()] || 'Medium';\n\nconst body = {\n  fields: {\n    project: { key: project },\n    summary: title,\n    description: description,\n    issuetype: { name: 'Story' },\n    priority: { name: normalizedPriority }\n  }\n};\n\nlet response;\ntry {\n  response = await fetch(`${jiraUrl}/rest/api/2/issue`, {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Basic ' + btoa(`${username}:${token}`),\n      'Content-Type': 'application/json',\n      'Accept': 'application/json'\n    },\n    body: JSON.stringify(body)\n  });\n} catch (err) {\n  return { error: `Network error calling Jira: ${err.message}` };\n}\n\nlet result;\ntry {\n  result = await response.json();\n} catch (err) {\n  return { error: `Jira returned non-JSON response (status ${response.status})` };\n}\n\nif (!response.ok) {\n  return {\n    error: `Jira API error (${response.status})`,\n    details: result.errors || result.errorMessages || result\n  };\n}\n\nreturn {\n  success: true,\n  ticket_key: result.key,\n  ticket_id: result.id,\n  url: `${jiraUrl}/browse/${result.key}`\n};"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [440, 240],
      "id": "e5f6a7b8-c9d0-1234-efab-555555555555",
      "name": "create_jira_ticket"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Elicitation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Elicitation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Elicitation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "load_skill": {
      "ai_tool": [
        [
          {
            "node": "Elicitation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_jira_ticket": {
      "ai_tool": [
        [
          {
            "node": "Elicitation Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["sdlc", "requirements", "elicitation"],
  "triggerCount": 0,
  "updatedAt": "2026-02-20T00:00:00.000Z",
  "versionId": "1"
}
