n8n/backup/workflows/6_Testing_Agent.json
{
  "name": "6 Testing Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-300, 0],
      "id": "tst-0001-trig-0000-000000000001",
      "name": "When Called by Supervisor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are the Testing Agent — the specialist for the Testing & QA phase of the software development lifecycle.\n\nYour responsibilities:\n- Generate test plans, test suites, and individual test cases\n- Analyze test results and coverage\n- Fix flaky tests\n- Perform risk-based testing prioritization\n- Generate API, E2E, performance, security, and accessibility tests\n- Assess test impact of code changes\n- Generate test data\n\nAvailable skills (call load_skill with the skill name to get full instructions):\n- generate-test-plan\n- generate-test-suite\n- generate-api-tests\n- generate-e2e-tests\n- coverage-analysis\n- analyze-test-results\n- fix-flaky-tests\n- risk-based-testing\n- test-impact-analysis\n- test-data-generator\n- test-strategy\n- performance-test\n- security-test\n- accessibility-test\n- visual-regression-test\n- mutation-test\n- contract-test\n- run-tests\n- self-heal-tests\n\nHow to work:\n1. Understand what the user needs (which type of testing task?)\n2. Call load_skill with the most relevant skill name to get detailed instructions\n3. Follow those instructions to deliver the output\n4. If the task spans multiple skills, handle them in sequence\n\nAlways respond in the same language the user writes in."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [0, 0],
      "id": "tst-0002-agnt-0000-000000000002",
      "name": "Testing Agent"
    },
    {
      "parameters": {
        "model": "llama3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [-160, 240],
      "id": "tst-0003-llm0-0000-000000000003",
      "name": "Ollama LLM",
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Ollama"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [40, 240],
      "id": "tst-0004-mem0-0000-000000000004",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "load_skill",
        "description": "Load a skill definition from the marketplace. Pass the skill name to get full instructions for that skill (e.g. 'generate-test-suite', 'fix-flaky-tests', 'coverage-analysis').",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_AFTER_IMPORT"
        },
        "fields": {
          "values": [
            {
              "name": "query",
              "stringValue": "={{ $fromAI('skill_name', 'The skill name to load from the testing phase') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [240, 240],
      "id": "tst-0005-tool-0000-000000000005",
      "name": "load_skill"
    }
  ],
  "connections": {
    "When Called by Supervisor": {
      "main": [
        [{ "node": "Testing Agent", "type": "main", "index": 0 }]
      ]
    },
    "Ollama LLM": {
      "ai_languageModel": [
        [{ "node": "Testing Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [{ "node": "Testing Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "load_skill": {
      "ai_tool": [
        [{ "node": "Testing Agent", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["sdlc", "testing"],
  "triggerCount": 0,
  "updatedAt": "2026-02-20T00:00:00.000Z",
  "versionId": "1"
}
